body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #1F1534;
  text-decoration: none;
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

section p {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0;
}

button {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #69B99D;
  color: #F9F9F9;
  border-radius: 4px;
  padding: 14px 32px 15px;
  border: none;

  cursor: pointer;
}

button:hover {
  background: #76C2A7; /*SUGESTﾃグ DO DESENVOLVEDOR, ESSA PROPRIEDADE Nﾃグ TEM NO MODELO DO FIGMA*/
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  color: #000;
  text-decoration: none;
}

footer a:hover {
  font-weight: bold; /*SUGESTﾃグ DO DESENVOLVEDOR, ESSA PROPRIEDADE Nﾃグ TEM NO MODELO DO FIGMA*/
}


#balls {
  position: fixed;
  right: 0;
  bottom: 0;
}
